<a href="https://colab.research.google.com/github/Towhid-Alam/Big-Data/blob/main/5_Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# 1 for female and 0 for male

In [ ]:
df= pd.read_csv("/content/MaleFemale.csv")

In [ ]:
df

   Unnamed: 0  Height  weight  FeetSize  Year     Sex
0         NaN     166      57       240     1  female
1         NaN     178      92       265     1    male
2         NaN     167      80       270     1    male
3         NaN     168      52       245     2    male
4         NaN     155      60       235     2  female
5         NaN     163      45       230     2  female
6         NaN     160      53       235     3  female
7         NaN     180      77       260     4    male
8         NaN     167      71       260     2    male
9         NaN     160      51       245     2  female

In [ ]:
X=df[['Height','weight','FeetSize','Year']]

In [ ]:
X

   Height  weight  FeetSize  Year
0     166      57       240     1
1     178      92       265     1
2     167      80       270     1
3     168      52       245     2
4     155      60       235     2
5     163      45       230     2
6     160      53       235     3
7     180      77       260     4
8     167      71       260     2
9     160      51       245     2

In [ ]:
y=df['Sex']

In [ ]:
y

0    female
1      male
2      male
3      male
4    female
5    female
6    female
7      male
8      male
9    female
Name: Sex, dtype: object

In [ ]:
#Dataset splitting
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.50,random_state=1)

In [ ]:
#Train Model
from sklearn import tree
r=tree.DecisionTreeClassifier()
r.fit(X_train, y_train)

#predict
pred=r.predict(X_test)

In [ ]:
r.predict([[150,58,215,2]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['male'], dtype=object)

In [ ]:
#accuracy
r.score(X_test,y_test)

0.2

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
accuracy_score(y_test,pred)

0.2

In [ ]:
confusion_matrix(y_test,pred)

array([[0, 4],
       [0, 1]])

In [ ]:
classification_report(y_test,pred)

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

'              precision    recall  f1-score   support\n\n      female       0.00      0.00      0.00         4\n        male       0.20      1.00      0.33         1\n\n    accuracy                           0.20         5\n   macro avg       0.10      0.50      0.17         5\nweighted avg       0.04      0.20      0.07         5\n'

In [ ]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

      female       0.00      0.00      0.00         4
        male       0.20      1.00      0.33         1

    accuracy                           0.20         5
   macro avg       0.10      0.50      0.17         5
weighted avg       0.04      0.20      0.07         5

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))